# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
.env.*  # masalan .env.dev, .env.prod
venv/
ENV/
env/

# IDE va tizim fayllari
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# Coverage/test
htmlcov/
coverage.xml
.tox/
.pytest_cache/
